<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RendezVous</display-name>
  <welcome-file-list>
     <welcome-file>login.jsp</welcome-file>
      <welcome-file>listeConsultations.jsp</welcome-file>
 

  </welcome-file-list>
   <servlet>
    <servlet-name>LoginRegister</servlet-name>
    <servlet-class>com.enit.controller.LoginRegister</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ControleurServlet</servlet-name>
    <servlet-class>com.enit.controller.ControleurServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>com.enit.controller.PatientServlet</servlet-class>
  </servlet>
  
   <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/profile/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>